<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %> 
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navBar.ejs') %>
    <main class="main">
        <form action="" class="form-refer">

            <section class="form-refer__section form-refer__section--left">
                <h1>Datos de quien refiere</h1>
                <div class="form__group field">
                    <input required="" placeholder="Name" class="form__field" type="input">
                    <label class="form__label" for="name">Nombre completo</label>
                </div>
                <div class="form__group field">
                    <input required="" placeholder="Name" class="form__field" type="input">
                    <label class="form__label" for="name">Número de documento</label>
                </div>
                <div class="form__group field">
                    <input required="" placeholder="Name" class="form__field" type="input">
                    <label class="form__label" for="name">Antigüedad</label>
                </div>
                <div class="form__group field">
                    <input required="" placeholder="Name" class="form__field" type="input">
                    <label class="form__label" for="name">Campaña a la que perteneces</label>
                </div>
                <div class="form__group field">
                    <input required="" placeholder="Name" class="form__field" type="input">
                    <label class="form__label" for="name">Sede actual</label>
                </div>
                <div class="form__group field">
                    <input required="" placeholder="Name" class="form__field" type="input">
                    <label class="form__label" for="name">Sede actual</label>
                </div>                                
            </section>

            <section class="form-refer__section">
                <h1>Datos del referido</h1>
                <div class="form__group field">
                    <input required="" placeholder="Name" class="form__field" type="input">
                    <label class="form__label" for="name">Nombre completo</label>
                </div>
                <div class="form__group field">
                    <input required="" placeholder="Name" class="form__field" type="input">
                    <label class="form__label" for="name">Números de teléfono</label>
                </div>
                <div class="form__group field">
                    <input required="" placeholder="Name" class="form__field" type="input">
                    <label class="form__label" for="name">Campaña de interés</label>
                </div>
                <div class="form__group field">
                    <input required="" placeholder="Name" class="form__field" type="input">
                    <label class="form__label" for="name">Cual sedes se le facilita trasladarse</label>
                </div>
                <div class="form__group field">
                    <span>Si cuentas con la HV de la persona, adjunta el documento</span>
                    <input type="file" class="form__group--file">
                </div>
           
            </section>
            <button type="submit" class="btn-send">Enviar</button>
        </form>
    </main>
</body>
</html>