<nav class="navbar">
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/">Referir</a>
        </li>
        <li>
            <a href="/">Ingresar</a>
        </li>               
    </ul>
</nav>